.container {
    padding: 15px;
    margin: 0 auto 30px auto;
    width: 80%;
    max-width: 800px;
    height: 30vw;
    max-height: 250px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 5px solid #a9cdd4;
    background-color: #fdfdfd;
}

.imageFrame {
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: white;
}

.postImage {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 5px solid #ffc98a;
}

.textContainer {
    width: 65%;
    padding: 0 0 10px 10px;
    font-size: clamp(0.5rem, calc(0.6rem + 0.9vw), 1.6rem);
}

.sentence {
    height: 70%;
    margin: 2% 0;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.userIcon {
    margin-right: 2%;
    height: 30px;
}