.formElementsContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.linkContainer {
    width: 100%;
    text-align: center;
}