.container {
    text-align: center;
    width: 100%;
}

.button {
    padding: 10px;
    margin-bottom: 20px;
    min-width: 70px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background-color: #a9cdd4;
    cursor: pointer;
}
